@model projetoMarket.DTO.CategoriaDTO

@{
    Layout = "_LayoutAdmin";
}
<h3>Nova Categoria</h3>
<hr/>
<form class="form-horizontal" asp-controller="Categorias" asp-action="Salvar" method="POST">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-action="Nome" class="form-control" placeholder="Nome da Categoria">
    <span asp-validation-for="Nome"></span>
    <input type="hidden" asp-action="Id" value="0">
    <br/>
    <button class="btn btn-success">Cadastrar</button>
</form>